html {
  font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google fonts */
  background-color: #f8f5ea;
}

header {
  width: 100%;
  margin: none;
  padding: none;
}

body {
  margin: 0 auto;
  padding: none;
  border: 5px;
  background-color: #e6e2d4;
}

section {
  padding: 20px, 20px;
}

main {
  color: #7c6668;
  font-size: 25px;
  padding: 20px, 20px;
  background-color: #e6e2d4;
}

p,
li,
ul,
nav,
li,
a,
footer {
  font-size: 25px;
  line-height: 2;
  letter-spacing: 1px;
  color: #7c6668;
}

text {
  font: 25px "Open Sans", sans-serif;
  text-anchor: middle;
  pointer-events: none;
  color: #7c6668;
}

section,
hr {
  background-color: #e6e2d4;
}

.subtitle {
  text-align: center;
  font-size: 50px;
  color: #7c6668;
}

.outer-header {
  height: 100vh;
  background-color: #ffd9a4;
  position: relative;
  overflow: hidden;
}

.header-image {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 2;
  height: 100vh;
  margin-left: 70px;
  width: 400px;
  object-fit: cover;
}

.inner-header {
  background-color: #626b63;
  min-height: 350px;
}

.linked-accounts {
  margin-right: 100px;
  justify-content: end;
  gap: 10px;
}

.logo {
  height: 60px;
  width: 60px;
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  .header-image {
    width: 350px;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .header-image {
    width: 50%;
    margin: 0;
    left: 0;
  }
  .linked-accounts {
    margin-right: 0;
    justify-content: start;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .header-image {
    width: 50%;
    left: 0;
  }
  .logo {
    height: 45px;
    width: 45px;
  }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .header-image {
    display: none;
  }
}

.experience_text {
  text-align: left;
  color: #7c6668;
}

.experience_text h3 {
  text-align: left;
  color: #4f3f41;
  font-size: 25px;
}

.header-text {
  color: white;
  font-family: "Oswald", sans-serif;
}

.project {
  border: 6px solid #beb7a1;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #e6e2d4;
}

.project_img {
  height: 100%;
}

#bigtitle {
  font-size: 100px;
  padding-bottom: 30px;
}

#casual_img {
  min-width: 50%;
  height: auto;
}
